/* /* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
 .bttn-light{
  cursor: pointer;
  background-color: #ccddfc;
  font-size:25px;
  font-weight:500;
}

.bttn-dark{
  cursor: pointer;
  font-size:20px;
  font-weight:500;
  background-color: #222936;
}
.bttn-dark:active{
  background-color: #384459;
}
.bttn-dark:hover{
  background-color: none;
}
.bttn-light:active{
  background-color: #b7cefc;
}

.bttn-back-dark{
  cursor: pointer;
  font-size:20px;
  font-weight:500;
  background-color: #d25858;
}
.bttn-back-dark:active{
  background-color: #933131;
}
.bttn-back-dark:hover{
  background-color: none;
}

.bttn-back-light{
  cursor: pointer;
  font-size:20px;
  font-weight:500;
  background-color: #fd6868;
}
.bttn-back-light:active{
  background-color: #772828;
}
.bttn-back-light:hover{
  background-color: none;
}
@media only screen and (min-width: 768px) {
  

  .bttn-dark:hover{
    background-color: #384459;
  }
  .bttn-dark:active{
    background-color: #282e3b;
  }
  .bttn-light:hover{
    background-color: #b7cefc;
  }
  .bttn-light:active{
    background-color: #a1bffc;
  }
  .bttn-back-light:hover{
    background-color: #ff5757;
  }
  .bttn-back-light:active{
    background-color: #f83c3c;
  }
  .bttn-back-dark:hover{
    background-color: #933131;
  }
  .bttn-back-dark:active{
    background-color: #7b1d1d;
  }
} 

